MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=band_platform
MYSQL_ROOT_PASSWORD=root_password
MYSQL_USER=band_user
MYSQL_PASSWORD=band_password

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_TIMEOUT=2s
